$color-fondo: beige;
$color-borde: black;



/* Colores diseñadora  */
$color-celeste: #77CDD0;
$color-violeta: #492781;
$color-beige: #FCFBF7;
$color-marron: #815F28;
$color-rosa: #F16F93; 


/* gamas celestes */
$color-celeste1: #e0feff;
$color-celeste2: #c1fafc;
$color-celeste3: #99cfd1;
$color-celeste4: #00f7ff;


/* gamas violetas */

$color-violeta1: #e7dafd;
$color-violeta2: #ddcaff;
$color-violeta3: #cfb8f8;
$color-violeta4: #c4a2ff;


/* gamas rosas */
$color-rosa1: #ffd5e1; 
$color-rosa2: #ffb5ca; 
$color-rosa3: #fd9ab6; 
$color-rosa4: #ce9caa; 


/* gamas marron */
$color-marron1: #ffe8c4;
$color-marron2: #ffdca4;
$color-marron3: #fac268;
$color-marron4: #c5ac84;
